<footer class="footer">
  <div class="container backround">
    <ul class="footer-link">
      <li class="footer-link-list">
        <a class="footer-link-arch" href="#about-us">ABOUT US</a>
        <a class="footer-link-arch" href="#your-order">CUSTOMER ORDER</a>
      </li>
      <li class="footer-link-list">
        <a class="footer-link-arch" href="#our-collection">OUR COLLECTION </a>
        <a class="footer-link-arch" href="#testimonials">TESTIMONIALS</a>
      </li>
    </ul>

    <p class="footer-text">
      A touch of <span class="ukrainian">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
