<footer class="section footer">
  <div class="conteiner backround">
    <ul class="footer-link">
      <li class="footer-link-list">
        <a class="footer-link-arch" href="">ABOUT US</a>
        <a class="footer-link-arch" href="">CUSTOMER ORDER</a>
      </li>
      <li class="footer-link-list">
        <a class="footer-link-arch" href="">OURr COLLECTION </a>
        <a class="footer-link-arch" href="">TESTIMONIALS</a>
      </li>
    </ul>

    <p class="footer-text">
      A touch of <span class="ukrainian">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
