<section class="hero container section">
    <div class="hero-title-container">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-span">Ukrainian</span> artistry in every stitch.
      </h1>
      <a href="#your-order" class="hero-btn"
        >Order
        <svg class="hero-icon" width="26" height="10">
          <use href="../img/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
  
    <img
      class="image-hero"
      srcset="
        ./img/mobile-hero-girl.jpg       335w,
        ./img/planshet-hero-girl.jpg     413w,
        ./img/compuctor-hero-girl.jpg    392w,
        ./img/mobile-hero-girl@2x.jpg    670w,
        ./img/planshet-hero-girl@2x.jpg  826w,
        ./img/compuctor-hero-girl@2x.jpg 784w
      "
      sizes="(min-width: 1280px) 360px, (min-width: 768px) 413px, (max-width: 767px) 335px"
      src="../img/mobile-hero-girl.jpg"
      alt="Girl"
      width="335"
    />
    <div class="star-hero">
      <svg class="star-icon" width="52" height="51">
        <use href="./img/sprite.svg#icon-Star"></use>
      </svg>
      <p class="star-text">all embroidery is made by hand</p>
    </div>
    <div class="hero-images">
      <img
        srcset="./img/hero-vyshyvanka@2x.png 2x"
        src="./img/hero-vyshyvanka.png"
        alt="Ukraine"
        width="139"
        height="99"
      />
    </div>
  </section>
  
  