<div class="mobile-menu">
  <div class="mobile-container">
    <button class="mobile-close-button">
      <svg class="mobile-close-icon" width="36" height="36">
        <use href="./img/sprite.svg#icon-close-buton"></use>
      </svg>
    </button>
    <a class="mobile-phone-link" href="tel:+380684439426"
      >+380 (68) 443-94-26</a
    >
    <ul class="mobile-list">
      <li class="mobile-list-item">
        <a href="#about-us" class="mobile-list-link first-js">About us</a>
      </li>
      <li class="mobile-list-item">
        <a href="#our-collection" class="mobile-list-link mobile-colection"
          >Our collection
        </a>
      </li>
      <li class="mobile-list-item">
        <a href="#your-order" class="mobile-list-link mob-customer"
          >CUSTOMER ORDER</a
        >
      </li>
      <li class="mobile-list-item">
        <a href="#testimonials" class="mobile-list-link mob-testimonials"
          >TEstimonials</a
        >
      </li>
    </ul>
    <div class="mobile-backgraound-png"></div>
  </div>
</div>
