<section class="our-collection">
    <div class="container our-collection-container">
        <h2 class="our-collection-bigtext">Our collection</h2>
        <ul class="our-collection-ul">
            <li class="our-collection-li">
                <picture>
                    <source
                      srcset="./img/compuctor-our-collection-vyshyvanka1.jpg 1x, ./img/compuctor-our-collection-vyshyvanka@2x.jpg 2x"
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="./img/planshet-our-collection-vyshyvanka1.jpg 1x, ./img/planshet-our-collection-vyshyvanka1@2x.jpg 2x"
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="./img/mobile-our-collection-vyshyvanka1.jpg 1x, ./img/mobile-our-collection-vyshyvanka@2x.jpg 2x"
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/compuctor-our-collection-vyshyvanka1.jpg"
                      alt="vyshyvanka1"
                      width="400"
                      height="430"
                      class="our-collection-li-img"
                    />
                  </picture>
                <p class="vyshyvanka-name">AUGUST POLTAVA WOMEN'S BLOUSERING</p>
                <p class="price-text">3300 UAH</p>
            </li>
            <li class="our-collection-li">
              <picture>
                <source
                  srcset="./img/compuctor-our-collection-vyshyvanka2.jpg 1x, ./img/compuctor-our-collection-vyshyvanka2@2x.jpg 2x"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="./img/planshet-our-collection-vyshyvanka2.jpg 1x, ./img/planshet-our-collection-vyshyvanka2@x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/mobile-our-collection-vyshyvanka2.jpg 1x, ./img/mobile-our-collection-vyshyvanka2@2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="../img/compuctor-our-collection-vyshyvanka2.jpg"
                  alt="vyshyvanka2"
                  width="400"
                  height="430"
                  class="our-collection-li-img"
                />
              </picture>
                <p class="vyshyvanka-name">WOMEN'S BLOUSE GORGANY</p>
                <p class="price-text">3350 UAH</p>
            </li>
            <li class="our-collection-li">
              <picture>
                <source
                  srcset="./img/compuctor-our-collection-vyshyvanka3.jpg 1x, ./img/compuctor-our-collection-vyshyvanka3@2x.jpg 2x"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="./img/planshet-our-collection-vyshyvanka3.jpg 1x, ./img/planshet-our-collection-vyshyvanka3@x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/mobile-our-collection-vyshyvanka3.jpg 1x, ./img/mobile-our-collection-vyshyvanka3@2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="../img/compuctor-our-collection-vyshyvanka3.jpg"
                  alt="vyshyvanka3"
                  width="400"
                  height="430"
                  class="our-collection-li-img"
                />
              </picture>
                <p class="vyshyvanka-name">WOMEN'S BLOUSE CRIMEA</p>
                <p class="price-text">4000 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">MEN'S SHIRT VERKHOVINA</p>
                <p class="price-text">3100 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">MOUNTAIN MEN'S SHIRT</p>
                <p class="price-text">3300 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">MEN'S SHIRT YASEN</p>
                <p class="price-text">1700 UAH</p>
            </li>
        </ul>
    </div>
</section>