<section class="our-collection">
    <div class="container our-collection-container">
        <h2 class="our-collection-bigtext">Our collection</h2>
        <ul class="our-collection-ul">
            <li class="our-collection-li">
                <p class="vyshyvanka-name">AUGUST POLTAVA WOMEN'S BLOUSERING</p>
                <p class="price-text">3300 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">WOMEN'S BLOUSE GORGANY</p>
                <p class="price-text">3350 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">WOMEN'S BLOUSE CRIMEA</p>
                <p class="price-text">4000 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">MEN'S SHIRT VERKHOVINA</p>
                <p class="price-text">3100 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">MOUNTAIN MEN'S SHIRT</p>
                <p class="price-text">3300 UAH</p>
            </li>
            <li class="our-collection-li">
                <p class="vyshyvanka-name">MEN'S SHIRT YASEN</p>
                <p class="price-text">1700 UAH</p>
            </li>
        </ul>
    </div>
</section>