<div class="container">
<div class="modal">
  <div class="review-form-field-wrapper">
     <form class="review-form">
    <input
      type="full name"
      class="review-form-field"
      id="user-name"
      placeholder="Enter your full name"
    />
    <label for="user-name"></label>
  </div>

  <div class="review-form-field-wrapper">
    <input
      type="email"
      class="review-form-field"
      id="user-email"
      placeholder="Enter your email"
    />
    <label for="user-email"></label>
  </div>

  <div class="review-form-field-comments">
    <textarea
      class="review-form-message"
      placeholder="Comments"
      id="user-comment"
    ></textarea>
    <label for="user-comment"></label>
  </div>
  <div class="button-icon">
    <button class="review-form-btn" type="submit">
      SEND
      <svg class="review-form-field-icon" width="26" height="16">
        <use href="./img/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
    </form>
  </div>
</div>
</div>
