.footer {
    border-top: 1px solid rgba(252, 249, 249, 0.10);
  
}
.backround {
    background-image: url(../img/mobile-footer-background.png);
    background-repeat: no-repeat;
    background-position: bottom;
background-size:375px;}
.footer-link{
    display: flex;
    gap:40px;
    padding-top: 40px;
   padding-bottom: 20px;
}
.footer-link-list{
    display: flex;
    gap:25px;
    flex-direction: column;
}
.footer-link-arch{
    color: var(--white, #FCF9F9);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.28px;
        text-transform: uppercase;
}
.footer-text {
    color: var(--white, #FCF9F9);
        font-family: Manrope;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.22;
        letter-spacing: -1.32px;
        padding-bottom: 280px;
        padding-top: 20px;
width: 335px;
}
.ukrainian{
    color:#ECD979;
}

@media screen  and (min-width:768px) {
    .footer-link-list{
        flex-direction: row;
    }
        .footer-link{
            gap:25px;
            padding-bottom: 40px;
        }
                                .backround{
                                    background-image: url(../img/planshet-footer-background.png);
                                    background-position: right;
                                    background-size: contain;
                                }
                                                                .footer-text{
                                                                    
                                                                    padding-bottom: 40px;
                                                                    padding-top: 40px;

                                                                    width: 754px;

                                                                    width: 521px;
                                                                   
                                                                     
                                                                        font-size: 54px;
                                                                       
                                                                      
                                                                        line-height: 1.18;
                                                                    
                                                                        letter-spacing: -1.62px;

                                                                }
                               
}
@media screen and (min-width:1268px){
    .footer-text{
        padding-top: 58px;
        width: 754px;


    
     
        font-size: 64px;
        
        line-height: 1.15;
        
        letter-spacing: -1.92px;
            
           

    }
        .footer-link{padding-bottom: 58px;}
                .backround {
                    background-image: url(../img/compuctor-footer-background.png);
                    width: 1268px;
               }
}
@media screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px),
screen and (min-devise-pixel-ratio: 2) and (min-width: 320px) {
    .hero-section {
        background-image: url(../img/mobile-footer-background@2x.png);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px),
screen and (min-devise-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
    .hero-section {
        background-image:  url(../img/planshet-footer-background@2x.png);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-devise-pixel-ratio: 2) and (min-width: 1158px) {
    .hero-section {
        background-image:  url(../img/compuctor-footer-background@2x.png);
    }

}