.footer {
    border-top: 1px solid rgba(252, 249, 249, 0.10);
  
}
.backround {
    background-image: url(../img/mobile-footer-background.png);
    background-repeat: no-repeat;
    background-position: bottom;
background-size: contain;}
.footer-link{
    display: flex;
    gap:40px;
    padding-top: 40px;
   padding-bottom: 20px;
}
.footer-link-list{
    display: flex;
    gap:25px;
    flex-direction: column;
}
.footer-link-arch{
    color: var(--white, #FCF9F9);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.28px;
        text-transform: uppercase;
}
.footer-text {
    color: var(--white, #FCF9F9);
        font-family: Manrope;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.22;
        letter-spacing: -1.32px;
        padding-bottom: 280px;
        padding-top: 20px;
   
}
.ukrainian{
    color:#ECD979;
}

@media screen  and (min-width:768px) {
    .footer-link-list{
        flex-direction: row;
    }
        .footer-link{
            gap:25px;
            padding-bottom: 40px;
        }
                                .backround{
                                    background-image: url(../img/planshet-footer-background.png);
                                    background-position: right;
                                }
                                                                .footer-text{
                                                                    padding-right: 220px;
                                                                    padding-bottom: 40px;
                                                                    padding-top: 40px;
                                                                }
                               
}
@media screen and (min-width:1268px){
    .footer-text{
        padding-top: 58px;
    }
        .footer-link{padding-bottom: 58px;}
                .backround {
                    background-image: url(../img/compuctor-footer-background.png);
               }
}