
.our-collection-bigtext {
    color: var(--white, #FCF9F9);
    font-size: 32px;
    font-style: normal;
    font-family: Manrope;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}
.our-collection-ul {
    color: var(--white, #FCF9F9);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
}
.our-collection-li {
    margin-bottom: 20px;
}
.vyshyvanka-name {
    color: var(--white, #FCF9F9);
    font-size: 14px;
    font-weight: 500;
    font-family: Manrope;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.price-text {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-family: Manrope;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
}
/*********@media screen and (min-width: 320px)****/
@media screen and (min-width: 320px) {
    .container {
        max-width: 375px;
        background-color: #1C2225;
    } 
} 
/*********@media screen and (min-width: 768px)****/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } 
    .our-collection-bigtext {
        color: var(--white, #FCF9F9);
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45;
        letter-spacing: -0.03em;
    }
    .vyshyvanka-name {
        color: var(--white, #FCF9F9);
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    .price-text {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05em;
    }
}
/*********@media screen and (min-width: 1280px)*****/
