/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body{
  background-color: #1c221c;
  font-family:"Manrope";
}
.container {
 
padding-left: 20px;
  padding-right: 20px;
    margin-left: auto;
      margin-right: auto;
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
   
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
        padding-left: 32px;
          padding-right: 32px;
  }
    .section {
      padding-top: 50px;
      padding-bottom: 50px;
  
    }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
      padding-right: 100px;
  }
    .section {
      padding-top: 75px;
      padding-bottom: 75px;
     
    }
}