.your-order {
  background-color: #1c2225;
}
.order-container {
  padding-top: 80px;
  position: relative;
}
.your-order {
  padding-top: 40px;
}
.order-background-img {
  background-image: url(../img/mobile-your-order-girl.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ration: 2) {
  .order-background-img {
    background-image: url(../img/mobile-your-order-girl@2x.jpg);
  }
}
.order-title {
  max-width: 335px;
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.order-title-span {
  color: #ecd979;
}
.order-form-container {
  display: flex;
  flex-direction: column;
}
.order-form-input {
  width: 100%;
  height: 47px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding-left: 16px;
  outline: transparent;
  font-family: Manrope;
  letter-spacing: -0.02em;
  color: #fcf9f9;
  font-size: 16px;
  transition: border 250ms linear;
}
.order-form-input::placeholder {
  color: rgba(252, 249, 249, 0.5);
  font-family: Manrope;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.order-form-label {
  margin-bottom: 20px;
}
.order-form-text-comment {
  width: 100%;
  height: 196px;
  background-color: transparent;
  outline: transparent;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  resize: none;
  padding: 14px 16px;
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 16px;
  letter-spacing: -0.02em;
  transition: border 250ms linear;
}
.order-form-text-comment::placeholder {
  color: rgba(252, 249, 249, 0.5);
  font-family: Manrope;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.order-form-text-comment:hover,
.order-form-text-comment:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}
.order-form-textlabel {
  margin-bottom: 40px;
  line-height: 0;
}
.order-button {
  width: 145px;
  height: 49px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: border 250ms linear;
}
.order-button:hover,
.order-button:focus {
  border: 1px solid #ecd979;
}
.order-buton-svg {
  fill: #ecd979;
}
.order-buton-svg use {
  display: inline-block;
}
.order-photo {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .order-photo {
    display: none;
  }
}
.order-form-input:hover,
.order-form-input:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}
@media screen and (min-width: 768px) {
  .your-order {
    position: relative;
  }
  .order-background-png {
    width: 322px;
    height: 484px;
    position: absolute;
    background-image: url(../img/planshet-your-order-background.png);
    left: 0;
    bottom: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ration: 2) {
    .order-background-png {
      background-image: url(../img/planshet-your-order-background@2x.png);
    }
  }
  .order-form-input {
    font-size: 16px;
    height: 50px;
  }
  .order-form-text-comment {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .order-container {
    padding-top: 100px;
  }
  .your-order {
    padding-top: 50px;
  }
  .order-title {
    max-width: 542px;
    font-size: 44px;
    line-height: 1.32;
  }
  .order-form-container {
    max-width: 508px;
    margin-bottom: 100px;
  }
  .order-form-input {
    height: 50px;
  }
  .order-button {
    width: 168px;
    height: 50px;
    margin: 0;
    font-size: 16px;
  }
  .order-container {
    padding-bottom: 129px;
  }
  .order-background-img {
    background-image: url(../img/planshet-your-order-girl.jpg);
    height: 776px;
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ration: 2) {
    .order-background-img {
      background-image: url(../img/planshet-your-order-girl@2x.jpg);
    }
  }
}
@media screen and (min-width: 1280px) {
  .your-order {
    padding-top: 75px;
  }
  .order-container {
    padding-top: 150px;
    padding-left: 0;
  }
  .order-container {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
  }
  .order-background-img {
    background-image: url(../img/compuctor-your-order-girl.jpg);
    height: 776px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ration: 2) {
    .order-background-img {
      background-image: url(../img/compuctor-your-order-girl@2x.jpg);
    }
  }
  .order-picture {
    display: block;
    height: 521px;
  }
  .order-title {
    max-width: 542px;
    font-size: 44px;
    line-height: 1.32;
    letter-spacing: -0.03em;
  }
  .order-form-container {
    max-width: 508px;
  }
  .order-button {
    margin: 0;
    width: 168px;
    height: 50px;
    font-size: 16px;
  }
  .order-background-png {
    width: 545px;
    height: 484px;
    bottom: 75px;
    left: 0;
    background-image: url(../img/compuctor-your-order-background.jpg);
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ration: 2) {
    .order-background-png {
      background-image: url(../img/compuctor-your-order-background@2x.jpg);
    }
  }
}
