<<<<<<< Updated upstream
=======
@media screen and (min-width:768px) 
    .modal{
        width: 768px;
    }

.modal {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  background: #1C2225;
  padding: 40px 20px 40px;
}

.modal {
display: flex;
width: 508px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
} 

.review-form-field-wrapper {
display: flex;
padding: 14px 16px;
align-items: flex-start;
gap: 8px;
align-self: stretch;
border-radius: 8px;
border: 1px solid rgba(252, 249, 249, 0.10);
margin-bottom: 20px;
background: #1C2225;
color: #FCF9F980;
}

.review-form-field {
  width: 100%;
  height: 47px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding-left: 16px;
  outline: transparent;
  font-family: Manrope;
  letter-spacing: -0.02em;
  color: #FCF9F9;
  font-size: 16px;
}

.review-form-message {
  width: 100%;
  height: 47px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding-left: 16px;
  outline: transparent;
  font-family: Manrope;
  letter-spacing: -0.02em;
  color: #FCF9F9;
  font-size: 16px;
  border-radius: 8px;
}

.review-form-field-comments {
display: flex;
padding: 14px 16px;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
align-self: stretch;
border-radius: 8px;
border: 1px solid rgba(252, 249, 249, 0.10);
}

.button-icon {
display: flex;
height: 49px;
padding: 14px 36px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 15px;
margin-left: 115px;
margin-right: 115px;
margin-top: 40px;
}

.review-form-btn {
display: flex;
position: relative;
width: 168px;
padding: 14px 39px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
background: #1C2225;
color: #FCF9F9;
font-family: Manrope;
font-size: 16px;
font-weight: 600;
letter-spacing: -0.04em;
text-transform: uppercase;
}

.review-form-btn:hover,
.review-form-btn:focus {
  color: #ECD979;
}

.review-form-field-icon {
fill:#ECD979;
margin-right: 10px;
}

*, ::after, ::before {
  box-sizing: border-box; 
}
>>>>>>> Stashed changes
